{% extends 'base.html' %}


{% block title %}Video{% endblock %}

{% block content %}
<h2>Video</h2>
<a href="{% url 'home' %}" class="btn btn-success mb-3">home</a>
<ul class="list-group">
    {% for Video in videos %}
        <li class="list-group-item">
        {% comment %} <a href="{% url 'Video_details' device.id %}">{{ device.device_name }}</a> - {{ device.brand }} - {{ device.model }} {% endcomment %}
          <a >{{ Video.title }}</a> - {{ Video.description }} - {{ Video.upload_date }} - {{Video.uploaded_by_id}}
        </li>
    <video src=""></Video>
    {% endfor %}
</ul>
{% endblock %}
